.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.app__input {
  margin-top: 10px;
}

.columns {
  display: flex;
}

video {
  flex: 1;
}

.button-one {
  margin-right: 10px;
}

.nodisplay {
  display: none;
}

.video-flipped {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
